<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar</label>
                <input type="text"
                class="form-control"
                name="buscar"
                (keyup.enter)="buscarPelicula()"
                placeholder="Buscar una pelicula"
                [(ngModel)]="buscar">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-columns">
            <div class="card" *ngFor="let pelicula of _ps.peliculas">
                <img [src]="pelicula|peliculaImagen:true" class="card-img-top" [alt]="pelicula.original_title">
                <div class="card-body">
                    <h5 class="card-title">{{pelicula.original_title}}</h5>
                    <p class="card-text">{{pelicula.overview |slice:0:250}}...</p>
                    <button type="button"
                            name="button"
                            [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar]"
                            class="btn btn-outline-primary">Ver más...</button>
                </div>
            </div>
        </div>
    </div>
</div>
